<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <connectionStrings>
      <add name="MyCompanyContext" connectionString="Data Source=.\MSSQL16; Initial Catalog=MyCompany; Integrated Security=SSPI" />
    </connectionStrings>
</configuration>